@import "tailwindcss";

/* ✅ Enable typography plugin */
/* @plugin "@tailwindcss/typography"; */
.input {
  width: 100%;
  padding: 0.6rem 0.75rem;
  border-radius: 0.6rem;
  background-color: #020617;
  border: 1px solid #1e293b;
  color: #e5e7eb;
}

.input:focus {
  outline: none;
  border-color: #3b82f6;
}
